@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

WordPress Theme

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2018

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #606060;
$secondary_color: #606060;
$background: #eaeaea;
$border: #606060;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Open Sans', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

/* ---------- Template ---------- */

/* Top */

.top {
	.moduletable_to1 {
		padding: 20px 0;
	}
	.moduletable_to2 {
		.top-bar {
			padding: 0;
			background-color: transparent;
			.top-bar-title {
				margin: 0;
			}
			#responsive-menu {
				width: 100%;
				ul.menu {
					background-color: transparent;
					li {
						padding: 0 25px;
						background: {
							image: url(moduletable_to2_menu_li_bg.png);
							position: right;
							repeat: no-repeat;
						}
						&:last-child {
							background: none;
						}
						&.current-menu-parent,
						&.current-menu-item,
						&.current_page_parent {
							a {
								/*border-bottom: 1px solid $border;*/
							}
						}
						a {
							padding: 5px 0;
							border-bottom: 1px solid transparent;
							color: $primary_color;
							letter-spacing: 2px;
							text-transform: uppercase;
							&:hover {
								border-bottom: 1px solid $border;
							}
						}
					}
				}
			}
		}
	}
}

/* Banner */

.banner {
	.moduletable_ba1 {}
}

/* Content */

.content {
	padding: 45px 0;
	h1 {
		width: fit-content;
		margin: auto;
		margin-bottom: 35px;
		padding: 5px 10px;
		border: 1px solid $border;
		font-size: 36px;
	}
	h2 {
		font: {
			size: 50px;
			weight: bold;
		}
		line-height: 50px;
	}
	p {
		margin: 0;
		font-size: 20px;
		line-height: 20px;
	}
}

/* Block 1 */

.block_1 {
	padding: 40px 0;
	background: {
		image: url(block_1.png);
		position: center;
		repeat: no-repeat;
		size: cover;
	}
	.moduletable_b11 {
		h3 {
			width: fit-content;
			margin: auto;
			margin-bottom: 35px;
			padding: 5px 10px;
			border: 1px solid #fff;
			font-size: 36px;
			color: #fff;
		}
		#a,
		#b,
		#c,
		#d {
			padding: 10px;
			border: 1px solid #fff;
		}
		.item {
			min-height: 216px;
			h4 {
				font: {
					size: 30px;
					weight: bold;
				}
				color: #fff;
			}
			p {
				margin: 0;
			}
			a.more {
				padding-bottom: 5px;
				border-bottom: 1px solid #fff;
				color: #fff;
			}
		}
	}
}

/* Block 2 */

.block_2 {
	padding: 40px 0;
	.moduletable_b21 {
		h3 {
			width: fit-content;
			margin: auto;
			margin-bottom: 35px;
			padding: 5px 10px;
			border: 1px solid $border;
			font-size: 36px;
		}
		.wpcf7 {
			input {
				&[type=text],
				&[type=email] {
					background-color: $background;
					border-radius: 0;
					&::placeholder {
						color: $primary_color;
					}
				}
			}
			textarea {
				background-color: $background;
				border-radius: 0;
				&::placeholder {
					color: $primary_color;
				}
			}
			.button {
				background-color: #e12015;
				border-radius: 0;
			}
		}
	}
}

/* Bottom */

.bottom {
	padding: 30px 0;
	background: {
		image: url(bottom_bg.png);
		position: center;
		repeat: no-repeat;
		size: cover;
	}
	color: #fff;
	a {
		color: #fff;
	}
	.moduletable_bo1 {}
	.copyright {}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}